*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("../img/ff.gif");
    background-position: center;
    background-size: cover;
    
}

button{
    background-color: #FDFDFD;
    color: #4d3677;
    border: 2px solid #4d3677;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s; 

}

button:hover{
    background-color: #4d3677;
    color: #fff;
}


button:hover > i{
    color: #fff;
}


button i{
    color: #4d3677;
    font-weight: bold;
    pointer-events: none;
    
    
}

input, select{
    padding: 0.25rem 0.5rem;
    border-color: #4d3677;
    
}


.hide {
    display: none;
  }


.todo-container{
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 10px;
}


.todo-container header{
    text-align: center;
    padding: 0 2rem 1rem;
    border-bottom: 1px solid #ccc;
}


#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}


#todo-form p, #edit-form p{
    margin-bottom: .5rem;
    font-weight: bold;
}


.form-control{
    display: flex;
}


.form-control input{
    margin-right: 0.3rem;
   
}


#cancel-edit-btn{
    margin-top: 1rem;
    color: #444;
}


#cancel-edit-btn:hover{
    margin-top: 1rem;
    color: #fff;
}


#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}


#toolbar h4{
    margin-bottom: 0.5rem;
}


#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column
}


#search form{
    display: flex;
    
}



#search input{
    display: flex;
    margin-right: 0.3rem;
}


#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}


#filter select{
    flex: 1
}

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}


.todo h3{
    flex: 1;
    font-size: .9rem;
}


.todo button{
    margin-left: 0.4rem;
}


.done{
    background-color: #4d3677;
}

.done h3{
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

